body{
  box-sizing: border-box;
  margin:0 auto;
  padding:0;
  font-family: 'Roboto', sans-serif;
  background-color:#ECEFF1;
  width:100%;
}

a, ul, ol{
  text-decoration: none;
  list-style: none;
}
/****MOBILE HEADER ******/
.nametag{
  background-color:#ECEFF1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:150px;
}

#title{
  margin:0 auto;
  margin-top:1em;
  margin-bottom:.3em;
  font-weight:300;
  opacity:.83;
  text-align: center;
  display: flex;
  justify-content: center;
}

#tag-line{
  margin:0 auto;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom:1em;
}

/*****MOBILE NAVIGATION ******/
#main-header{
  margin:0;
  padding:0;
}

#main-nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:0;
  margin:0;
  height:30px;
}

#main-nav a{
  width:100%;
  height: 100%;
  padding:10px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menuItem{
  color:black;
}

.active, .active:visited{
  color:#00BCD4;/*thatblue color*/
  font-weight: 500;
}

header{
  position: fixed;
  width:100%;
  background-color:#ECEFF1;
  z-index: 2;
  height:190px;
}

.wrapper{
  position:relative;
  top:190px;
}

/***** About Page Styles ****/
.PageTitle{
  display: flex;
  justify-content: center;
  margin:0;
  padding:1em;

  color: white;
  font-weight: 400;

  background: rgba(236,239,241,1);
  background: -moz-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(0,188,212,1) 25%, rgba(0,188,212,1) 50%, rgba(0,188,212,1) 75%, rgba(55,71,79,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,239,241,1)), color-stop(25%, rgba(0,188,212,1)), color-stop(50%, rgba(0,188,212,1)), color-stop(75%, rgba(0,188,212,1)), color-stop(100%, rgba(55,71,79,1)));
  background: -webkit-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(0,188,212,1) 25%, rgba(0,188,212,1) 50%, rgba(0,188,212,1) 75%, rgba(55,71,79,1) 100%);
  background: -o-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(0,188,212,1) 25%, rgba(0,188,212,1) 50%, rgba(0,188,212,1) 75%, rgba(55,71,79,1) 100%);
  background: -ms-linear-gradient(top, rgba(236,239,241,1) 0%, rgba(0,188,212,1) 25%, rgba(0,188,212,1) 50%, rgba(0,188,212,1) 75%, rgba(55,71,79,1) 100%);
  background: linear-gradient(to bottom, rgba(236,239,241,1) 0%, rgba(0,188,212,1) 25%, rgba(0,188,212,1) 50%, rgba(0,188,212,1) 75%, rgba(55,71,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff1', endColorstr='#37474f', GradientType=0 );
}

#AboutMe{
  margin:0;
  padding:0;
  padding-top:20px;
  background:#37474F;
}

.profile{
  border-radius: 50% 50%;
  width:40%;
  border:solid 4px #bbb;
  display:flex;
  justify-content: center;
  margin:auto;
}

.bio{
  padding-top:20px;
  width:90%;
  margin:0 auto;
  margin-bottom:1.5em;
  opacity:.83;
}

.bio p{
  margin:0;
  color:white;
  opacity:.83;
  font-size:1.2em;
}

.bio a{
  color:#00BCD4;
}

#Skills{
  width:90%;
  margin:0 auto;
  padding-bottom:2em;
  color:white;
  opacity:.83;
}

.skillsCaption{
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  margin-bottom:0;
}

.skillsList{
  margin:0;
  opacity:.85;
}

.downloadFlex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:150px;
}

.ResumeDownload{
  border-radius:25px;
  padding:10px;
  background-color:#00BCD4;/*thatblue color*/
  color:white;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:30px;
  margin-bottom:20px;
  font-weight: 500;
}

.aboutLinks{
  display: flex;
  justify-content: space-around;
  width:50%;
  margin-bottom:30px;
}

.aboutGithubLink{
  background-color:#00BCD4;/*thatblue color*/
  padding:10px;
  border-radius:50%;

  background-image:url("../styles/Social/githubWhite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;

  width:30px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.LinkedInResumeLink{
  background-color:#00BCD4;/*thatblue color*/
  padding:10px;
  border-radius:50%;

  background-image:url("../styles/Social/linkedinWhite.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;

  width:30px;
  height:30px;
  display:flex;
  justify-content: center;
  align-items: center;
}

footer{
  position: relative;
  top:190px;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #555;
}

footer p{
  opacity:.6;
  margin:0;
  margin-left: 1em;
}

/***** CONTACT PAGE *****/
.Contact{
  margin:0;
  padding:0;
  padding-bottom:2em;
 background:#37474F;

}

.contactWrap{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top:2em;
}

.contactIcon{
  width:50px;
  height:50px;
  display:flex;
  margin: 0 auto;
}

.contactDesc, .contactDesc:active{
  margin-top:0;
  padding-top:5px;
  color:white;
  opacity:.83;
}
#Blog{
  margin:0;
  padding:0;
  padding-bottom:2em;
 background:#37474F;
}

#WireBlog{
  width:90%;
  margin:0 auto;
  margin-top:2em;
  margin-bottom:3em;
}

.blogInstaFlex{
  display:flex;
  margin:0 auto;
  justify-content: center;
  margin-top:1em;
}

.blogInsta{
  margin:0;
}

.blogInstaTag{
    color: white;
    opacity: .83;
    padding-left:10px;
}

.postContainer{
  width:90%;
  margin:0 auto;
  padding:10px;
  margin-bottom:40px;
  background-color:#263238;
  border:solid 4px #B0BEC5;
}

.postImage{
  box-sizing: border-box;
  width:100%;
  border: solid 2px #CFD8DC;
}

.postTitle{
  margin-top:0;
  padding:10px;
  padding-bottom:20px;
  color:white;
  font-weight: 700;
}

.postDate{
  color:white;
  opacity:.6;
  margin:0;
  padding:10px;
  display:flex;
  justify-content: flex-end;
}


/***PROJECTS****/
#Projects{
  margin:0;
  padding:0;
  padding-bottom:2em;
  padding-top:2em;
  background-color:#37474F;
}

.HighlightContainer{
  width: 90%;
  margin: 0 auto;
  padding: 0;
  margin-bottom:1em;


  display:flex;
  flex-direction: column;
  align-items: center;
}

.project{
  width:70%;
  background-color: #ECEFF1;
  margin-bottom:50px;
  border-radius: 40px;
  overflow: hidden;
  padding:10px;
}

.projectImg{
  margin:0;
  width:100%;
  height:200px;
  background-color:black;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.codeButtons{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin:0;
  padding:0;
  position: relative;
  top:-20px;
}

.TheCode, .Demo, .DemoX{
  flex-grow:1;
  padding:10px;
  text-align: center;
  color:white;
}

.TheCode{
  background-color:#00BCD4;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.Demo{
  background-color:#8BC34A;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.DemoX{
  background-color:#78909C;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor:not-allowed;
}

.projectTitle{
  font-weight:500;
  text-align: center;
  margin:0;
  padding:0;
}

.projectLang{
  font-weight: 300;
  text-align: center;
  margin:0;
  padding:0;
}

.projectDesc{
  padding-left:5px;
}

.projectGithubText, .githubTag{
  width:90%;
  margin:0 auto;
  color: white;
  opacity: .83;
  text-align: center;
}

.projectGithubFollow{
  margin:0 auto;
  display: flex;
  margin-top:20px;
}

.githubTag{
  opacity:.5;
}

@media (min-width:450px){
  .project{
    width:60%;
  }
}

@media (min-width:550px){
  .project{
    width: 50%;
  }
  .postContainer{
    max-width:300px;
  }

  .profile{
    width:30%;
    display:block;
    margin:20px;
    margin-left:5%;
    float:left;
    max-width:200px;
  }

  #Skills{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    max-width:1050px;
  }

  .skillFlex{
    flex-grow:1;
    width:28%;
    margin:10px;
    max-width:250px;
  }

  .aboutLinks{
    width:30%;
    max-width:180px;
  }
}

@media (min-width:650px){
  .project{
    width: 40%;
  }
}

@media (min-width:750px){
  .project{
    width: 35%;
  }
}

@media (min-width:850px){
  .HighlightContainer{
    flex-direction: row;
    align-items: inherit;
    margin-bottom:2em;
  }
  .project{
    margin:10px;
    width: 30%;
  }
}

@media (min-width:1080px){
  .project{
    width: 28%;
    margin:0 auto;
  }
}

@media (min-width:1200px){
  .project{
    width: 25%;
    max-width:300px
  }
}
